/***************************************************************************
Filename: styles.css
Author: Justin Rignault
Description: main css file linked to index.html for my personal website
****************************************************************************/

/**********************************************
                IMPORTS
***********************************************/
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

/**********************************************
                DEFAULTS
***********************************************/
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'PT sans', helvetica, sans-serif;
    /*scroll-behavior: smooth; */
}

:root {
    --fontOne: 4.209rem;
    --fontTwo: 3.157rem;
    --fontThree: 2.369rem;
    --fontFour: 1.77rem;
    --fontFive: 1.33rem;
    --fontSix: 1rem;
    --fontSeven: 0.75rem;
    --fontEight: 0.563rem;
}

/**********************************************
                    NAV
***********************************************/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsla(177deg, 86%, 96%, 90%);
    height: 3rem;
    padding: 1rem;
    position: sticky;
    top: 0;
}

.logo {
    width: 2rem;
}

nav > h2 {
    font-size: var(--fontSix);
}



.hidden {
    display: none;
}

/**********************************************
                MEDIA QUERIES
***********************************************/


@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media(min-width: 1200px) {
}