/***************************************************************************
Filename: styles.css
Author: Justin Rignault
Description: main css file linked to index.html for my personal website
****************************************************************************/

/**********************************************
                IMPORTS
***********************************************/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/**********************************************
                DEFAULTS
***********************************************/
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Open sans', helvetica, sans-serif;
    /*scroll-behavior: smooth; */
}

:root {
    --fontOne: 4.209rem;
    --fontTwo: 3.157rem;
    --fontThree: 2.369rem;
    --fontFour: 1.77rem;
    --fontFive: 1.33rem;
    --fontSix: 1rem;
    --fontSeven: 0.75rem;
    --fontEight: 0.563rem;
}

h1,h2,h3,h4,h5,h6 {
    font-family: lato, helvetica, sans-serif;
}

/**********************************************
                    NAV
***********************************************/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: sticky;
    top: 0;
    background-color: hsla(200deg, 96%, 94%, 0.6);
    z-index: 101;
    border-bottom: 1px solid hsla(0deg, 0%, 10%, 0.5);
    padding: 5px;
    font-size: var(--fontSeven);
}

.nav-logo {
    width: 10%;
    max-width: 100px;
    padding: 1%;
    cursor: pointer;
}

.nav-header {
    font-size: var(--fontSix);
    white-space: nowrap;
    cursor: pointer;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    min-width: 400px;
    width: 60%;
    font-size: var(--fontSeven);
}

.nav-li {
    display: flex;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
}

.nav-li:hover {
    transform: scale(1.1);
    font-weight: 800;
}

.nav-li:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: hsla(0deg, 0%, 0%, 0.4);
    height: 1px;
    transform: scale(1.1);
}

.nav-li:hover:after {
    width: 75%;
}

.nav-li, .nav-li:before, .nav-li:after{
    transition: all .5s;
}

.nav-icon {
    margin-right: 3%;
    padding: 1%;
    height: 0.9em;
}










.hidden {
    display: none;
}


/**********************************************
                MEDIA QUERIES
***********************************************/


@media (min-width: 600px) {
    .navigation {
        font-size: var(--fontSix);
    }
}

@media (min-width: 800px) {
    .nav-header {
        font-size: var(--fontFive);
    }
}

@media (min-width: 1000px) {
    .nav-header {
        font-size: var(--fontFour);
    }
    .navigation {
        font-size: var(--fontFive);
    }
}
