/***************************************************************************
Filename: styles.css
Author: Justin Rignault
Description: main css file linked to index.html for my personal website
****************************************************************************/

/**********************************************
                IMPORTS
***********************************************/
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

/**********************************************
                DEFAULTS
***********************************************/
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'PT sans', helvetica, sans-serif;
    /*scroll-behavior: smooth; */
}

h1, h2 {
    font-family: 'cabin', helvetica, sans-serif;
}

:root {
    --fontOne: 4.209rem;
    --fontTwo: 3.157rem;
    --fontThree: 2.369rem;
    --fontFour: 1.77rem;
    --fontFive: 1.33rem;
    --fontSix: 1rem;
    --fontSeven: 0.75rem;
    --fontEight: 0.563rem;
}

.desktop {
    display: none;
}

/**********************************************
                    NAV
***********************************************/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(242,248,248, 95%);
    padding: 0.3rem 1rem;
    position: sticky;
    top: 0;
}

.logo {
    width: 2rem;
}

header > h2 {
    font-size: var(--fontSix);
}

nav a {
    display: flex;
    align-items: center;
}

/**********************************************
                    HOME
***********************************************/

#home {
    background: url(../img/background-1.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    height: 95vh;
}

.overlay {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.00510884) 0.02%, rgba(0, 0, 0, 0.15) 0.03%, rgba(0, 25, 24, 0.8) 4.69%, #001C1A 90.1%);
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.overlay > h1 {
    font-size: var(--fontOne);
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.home-img {
    margin-top: -50px;
}

.overlay > p {
    margin: 0 20%;
    color: rgba(218, 218, 218, 0.8);
}

.overlay > div > p {
    color: rgba(255, 204, 204, 0.6);
}

.down-arrow {
    margin-top: 15px;
    opacity: 0.6;
    cursor: pointer;
    animation: move 1s infinite alternate;
}

.down-arrow:hover {
    opacity: 1;
    animation-play-state: paused;
}


/**********************************************
                PORTFOLIO
***********************************************/

#portfolio {
    min-height: 100vh;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 0.01%, rgba(166, 210, 208, 0) 30.21%, rgba(166, 210, 208, 0.05) 33.33%, rgba(166, 173, 210, 0.1) 99.99%, rgba(166, 210, 208, 0.1) 100%);
}

#portfolio > h1 {
    font-size: 4rem;
    letter-spacing: 1px;
}

360/190

/**********************************************
                    ABOUT
***********************************************/

#about {
    min-height: 100vh;
}













/**********************************************
                KEYFRAMES
***********************************************/

@keyframes move {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(15px);

    }
}




/**********************************************
                MEDIA QUERIES
***********************************************/

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: block
    }

    header {
        padding: 0.3rem 2rem;
    }

    header > h2 {
        position: absolute;
        left: 100px;
    }

    nav {
        width: 50%;
    }
    
    .nav {
        display: flex;
        justify-content: space-between;
    }

    .nav li {
        list-style-type: none;
    }

    .nav li a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
}

@media (min-width: 992px) {
}

@media(min-width: 1200px) {
    header {
        padding: 0.3rem 3rem;
    }
    nav {
        width: 40%;
    }
}